[2016-01-30 07:16] t-pascal opened #2 "Error deaggregating messages with Lambda"
I am getting the following error. I appears that 'google' is not defined for the exception.

[code]

Changing the code to...

[code]

...bypasses the error.

[2016-02-11 21:28] brentnash commented on #2
My apologies for the belated response.  Working on making the fix now.

Two quick thoughts:

1.  It seems like add `import google.protobuf.message` to the top of the file should fix the issue.

2.  If you're going to use the more generic `except:` workaround, may I suggest you use `except Exception as e:` instead?  I believe using raw `except` is frowned upon because it will also catch and handle

[2016-02-11 23:57] #2 closed

[2016-02-11 23:57] brentnash commented on #2
Fixed in this commit: https://github.com/awslabs/kinesis-deaggregation/commit/6031dc8821c2ee1c1ba1d76984163b1ad838ea62

[2016-02-12 19:14] t-pascal commented on #2
Thanks for responding. I will test.

My exception example was merely to show that the exception line was causing the error and removing it from the code does not cause the error. I wanted to demonstrate that it wasn't something else.

I will probably be able to test by later next week.

[2016-02-12 19:16] brentnash commented on #2
Makes sense.  Thanks!

[2016-02-16 00:30] t-pascal commented on #2
I can confirm the fix works. However, we were hitting the exception for our kinesis data (which we then write to firehose). We are seeing binary data in our S3 buckets, so it seems that python deaggregation isn't working for us. If I have more data, I'll open an issue for it.

[2016-02-16 04:48] brentnash commented on #2
Well that doesn't sound good.  If you happen to have any sample data or more details you can give me, I'd love to take a look.  Are you using the KPL to pack your data on the client side or are you packing them yourself?

Alternately, if you wanted to try a quick test, there is a KPL-based data generator app in the Java section of this repository (https://github.com/awslabs/kinesis-deaggregation/t

[2016-02-16 23:44] t-pascal commented on #2
Thanks for the help. I have had a hard time debugging Lambda reading from Kinesis. We are currently writing records with the logstash Kinesis output (probably uses the Java client). Deaggregation works when we use the logstash Kinesis input module. However, our lambda clients have run into issues. I've tried the nodejs consumer from awslabs, and the java consumer from the awsblog. Both seem to hav

[2016-02-17 18:43] jeremywall opened #3 "JS deaggregation error due to reuse of hash"
In the JS code there's an MD5 hash that's used during deaggregation. It's reused on line 70 here https://github.com/awslabs/kinesis-deaggregation/blob/master/node/node_modules/kpl-deagg/kpl-deagg.js#L70

But crypto objects are not reusable and when the update method is called the second time it fails with a "HashUpdate fail" error message.

It's a simple fix to just instantiate the md5 crypto obje

[2016-02-17 23:14] billletson opened #5 "When no explicit has keys, deaggregation throws an IndexError"
PR here: https://github.com/awslabs/kinesis-deaggregation/pull/4

If there are no explicit hash keys, attempting to index the ehks object fails with an IndexError:

list index out of range: IndexError Traceback (most recent call last): File "/var/task/function.py", line 38, in lambda_handler records = data_pipeline.extract_records_from_kinesis_event(lambda_event) File "/var/task/data_pipeline/util

[2016-02-17 23:25] brentnash commented on #5
Thanks for the feedback.  Stuck in a class at the moment, but I'll attempt to get this patched in ASAP.

[2016-02-18 17:54] brentnash commented on #5
Pull request has been merged.  I'm going to leave this issue open until I can submit the new version to Pypi.  Thanks!

[2016-02-18 18:18] brentnash commented on #5
New version 1.0.10 is now available on PyPI:  https://pypi.python.org/pypi/aws_kpl_deagg

Closing issue.

Thanks Bill!

[2016-02-18 18:18] #5 closed

[2016-02-18 22:02] brentnash commented on #3
Thanks Jeremy!  I've merged in your pull request.  I'll work on getting NPM updated (I don't personally have the credentials to do so myself).

I'll leave this open until NPM is updated.

[2016-02-18 22:07] jeremywall commented on #3
Fantastic, thank you. Whoever does keep the NPM credentials should also update the links to GitHub on the NPM page for this package. They incorrectly point to https://github.com/awslabs/kpl-deagg instead of https://github.com/awslabs/kinesis-deaggregation

[2016-02-18 22:18] brentnash commented on #3
I'll add that to the list.  Thanks!

[2016-02-19 17:11] brentnash commented on #3
We got the new version with this fix uploaded to NPM overnight:

https://www.npmjs.com/package/aws-kpl-deagg

I'm going to close this issue.

Thanks again for the pull request and let us know if anything else comes up.

[2016-02-19 17:11] #3 closed

[2016-02-22 14:06] ngb18 opened #6 "individual records ack - java"
Hi,

What can be done to provide individual records acknowledgement in the java module, similar to what is provided in node.js ? What about checkpointing ? Thanks.

[2016-02-22 21:28] brentnash commented on #6
Hi ngb18,

Could you give ussome more details on what you mean by "individual records acknowledgement" or point us to the piece of the NodeJS code that you're referring to?  Are you looking for a per-record callback?

As far as checkpointing goes, it depends on what methodology you're using to read from Kinesis.  Are you using Lambda?  Or the KCL?  Or are you doing it by hand?  I believe Lambda ch

[2016-02-23 01:44] ngb18 commented on #6
Hi ,

Thanks for the response. Yes, i was looking for a Lambda checkpointing for a per-record basis.If there is an error in processing the Lambda for a kinesis stream record, the entire batch is sent back to be retried again. Is this understanding correct ?  What i would like is the ability to checkpoint the "processed" records, so that i do not have to process them again as an entire batch. Thank

[2016-02-24 18:00] brentnash commented on #6
Your understanding is mostly correct (see https://forums.aws.amazon.com/message.jspa?messageID=639825), but I did want to make one clarification:  the only way your Lambda function will "fail" (other than timing out) is if you have an uncaught exception or other fatal error.  If you wrap your per-record processing in a try/catch, you should be able to detect failing records (whatever failing means

[2016-03-11 05:00] ngb18 commented on #6
Thanks for the response. Where do i find more information on the Lambda checkpointing ? I have not come across any information for lambda checkpointing in aws docs.

[2016-03-11 19:29] brentnash commented on #6
I'm not sure the docs explicitly call out the checkpointing behavior anywhere.  Let me follow up with the team and see what the official stance is.  The closest I can find is from the FAQ (https://aws.amazon.com/lambda/faqs/) where it explains failure behavior:

[code]

I've got an update in the works that will provide an API to let you deaggregate on a per-record basis as well.  It will hopefully

[2016-03-15 21:14] ngb18 commented on #6
Hi, Thanks for the response! I wanted to follow up to see if you have an official stance from the team about the checkpointing. Appreciate your time!.

[2016-03-15 22:57] brentnash commented on #6
I'm sorry, I was out of the office for a few days.  I pinged the team again.  I'll let you know what I find out.

[2016-03-16 00:05] brentnash commented on #6
OK, I just confirmed with the team.  Lambda does indeed handle checkpointing on your behalf.  It will checkpoint after a successfully processed batch of records.  There is currently no way to checkpoint a partial batch (i.e. you can't checkpoint partway through processing a batch).  If you want to checkpoint more frequently, your best option at the moment is to reduce your batch size (smaller batc

[2016-03-16 00:05] #6 closed

[2016-08-24 19:20] cosmincatalin opened #10 "Publish to Maven"
Hi,

It would be great if the Java classes will also be made available on Maven.
I have this project [https://github.com/audienceproject/kinesis-writer](https://github.com/audienceproject/kinesis-writer) which I have made available in Maven Central that depends on this.

Best regards,
Cosmin

[2016-08-26 09:50] cosmincatalin opened #11 "KinesisAggregator and KCL don't play nice together"
Hi,

After a lot of struggling with making the _Java_ version of the `KinesisAggregator` play nice with the _KCL_, I have finally narrowed down the issue.

##### Issue

On one side, I have an app that uses the `KinesisAggregator` to write aggregated _Stream Records_ on a _Kinesis Stream_. I use `PutRecord` as the persist API method. This is working fine.
The records produced with the help of the `

[2016-08-27 22:59] brentnash commented on #11
Hi Cosmin!  Thank you so much for your detailed deep dive into the issues you've been having.  I'm hoping to get a chance to dive into this either tonight or tomorrow.  My last round of testing with the aggregator was against a Lambda function using the deaggregator in this project which still seems fine, so I'll make sure to try to run against a KCL app as well before submitting any potential fix

[2016-08-27 23:18] cosmincatalin commented on #11
Hi,

Thanks fo looking into this. When you make your tests, make sure to assign multiple random _Explicit Hash Keys_ to the _User Records_ in one _Stream Record_, otherwise you won't see the issue.

Actually, this is how I work around the issue, I choose an _Explicit Hash Key_ and I assign it to all _User Records_ and to the _Stream Record_ that contains them.

Best regards,
Cosmin

[2016-08-29 04:03] brentnash commented on #10
We originally made a conscious decision not to publish to Maven, but I don't recall what the specific reason was.  Let me check into what would be involved and get back to you.  Thanks for the feedback!

[2016-09-19 04:21] brentnash commented on #11
Hi Cosmin,

Thanks again for the fantastic write-up.  I dug in this weekend and found and reproduced the problems you mentioned.  I agree with your list of possible resolutions, though I'm still deciding which is best.

This is much trickier than I thought.

I think the major problem I see is that, no matter what I do, the user can potentially change the Explicit Hash Key (EHK) or Partition Key (P

[2016-09-19 06:33] cosmincatalin commented on #11
Hi Bent,

I think forcing the EHK of all the `User Records` in one `Stream Record` to match the first `User Record` in the said `Stream Record` is the way to go. Of course, this will have to be documented. The main thing that needs to be understood is that the first record plays the _decider_ role and all other record follow it.

All the best,
Cosmin

[2016-09-23 12:42] cosmincatalin opened #12 "KinesisAggregator might have issues with full Stream Records"
Hi,

I suspect that a Stream Record that is _full_ or _almost full_ in respect to size will get silently dropped by either _the Kinesis service_ or the _KCL_ (_KCL_ is more likely though).
I have experimented with the Aggregator for a while and have started to notice that some records actually don't show up on the other end of the stream. I have nailed it down to the **size** of the _Stream Record

[2016-09-27 21:14] mfulleratlassian opened #13 "Unable to get the Node Aggregation code to work"
I have tried so many permutations of requires etc I cannot get the RecordAggregator to work in my code.

The README says:
`var agg = require('aws-kinesis-agg');`
`var aggregator = new RecordAggregator();`

but that gives me error: "RecordAggregator is not defined"

Looking at the package.json its main is "./kpl-deagg.js" which has nothing to do with the Aggregation code. Looking around I can only

[2016-11-01 20:02] pushplay opened #14 "constants.js sets undeclared globals"
Inside `node/node_modules/aws-kinesis-agg/constants.js` a series of global variables are set by assigning to undeclared names.  This is two problems: setting global variables is considered [bad practice](http://stackoverflow.com/questions/10525582/why-are-global-variables-considered-bad-practice) in JavaScript; and setting via undeclared variables is disallowed when the use [strict directive](http

[2016-11-01 20:58] pushplay commented on #14
See: https://github.com/awslabs/kinesis-aggregation/pull/15

[2017-01-10 06:49] gerodp opened #16 "Documentation for NodeJS is outdated"
Hello,

Reading the doc it seems that there are some some differences with the code. For example:

In the doc:
deaggregateSync(kinesisRecord, afterRecordCallback(err, UserRecord[]);

In the code:
deaggregateSync = function(kinesisRecord, **computeChecksums**, afterRecordCallback)

Or:

In the doc:
deaggregate(kinesisRecord, perRecordCallback(err, UserRecord), afterRecordCallback(err, errorKinesisR

[2017-01-13 18:13] brentnash commented on #16
@gerodp Thanks for the feedback!

I'm hopefully going to be making an update pass over the repository in the next week or so.  I'll make sure this gets corrected along the way.

[2017-01-19 14:06] attias commented on #13
I also ran into this problem.
Fixed it with:
var aggregator = require('aws-kinesis-agg/RecordAggregator');

you will also need to do "npm install underscore"

[2017-03-07 09:40] bodgit opened #17 "Errors when using KinesisLambdaForwarder"
I've set up the KinesisLambdaForwarder to forward from one Kinesis stream to another across account boundaries. I eventually figured out the IAM pieces to the point it no longer errors about permissions but now in the CloudWatch logs I often see this:

[code]

Is this related to #11 somehow?

[2017-03-15 23:16] geektimus commented on #17
I have a simular issue consuming data from Kinesis inside a Lambda, Basically Im using the lambda to read avro encoded events from Kinesis and send them to another stream based on the event type.

It seems that the explicitHashKey is missing on the records but it should be created using the partitionKey, but Im getting this:

`partitionKey: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,

[2017-06-22 04:19] preetimpandey11 opened #21 "The size calculation logic fails when the explicit hash key is not specified (undefined) in the stream records."
The logic for record aggregation is as follows.
For each input stream record, estimate the size of the aggregated record formed ,after the new input record will be added to it.
If the estimated size is less than 1 MB, add the new record to the putRecord list.
If the estimated size is greater than or equal to 1 MB, do not add the new record to the putRecord list. Aggregate the records in the put re

[2017-06-22 16:29] brentnash commented on #21
Thank you for the bug report.  I believe I understand your issue, but if you happened to have a code snippet you could attach to reproduce the issue, that would be super helpful.  Hopefully carving out a day soon to knock out bugs on this project.

[2017-07-11 11:06] tzvetkovg commented on #10
Is there any progress on that? My project relies on the jar and I have to locally upload it rather than use maven..

[2017-07-11 11:27] cosmincatalin commented on #21
I believe I have stumbled upon the same issue. I did fix it manually in https://github.com/audienceproject/kinesis-writer/blob/master/src/main/scala/com/audienceproject/aws/kinesis/PBScalaKinesisWriter.scala#L173

[2017-07-12 03:49] mransley commented on #10
Bit surprised this isn't available as most of the code looks pretty generic.  That said, it has been 11 months!

[2017-07-12 07:11] vinaysen commented on #10
We have a strong usecase where we are would need aggregation on Kinesis records and this library fits in perfectly for our scenario. The only issue is that it is not  published on Maven Central.
Are you planning to publish this on Maven? Or, do you recommend any other approach for aggregation/de-aggregation?

[2017-07-12 07:22] cosmincatalin commented on #10
One alternative would be for one of us to publish t to Maven.

[2017-07-12 14:26] brentnash commented on #10
Do any of you have experience publishing a package to Maven?

I'd love to make that happen, but there was something previously that prevented us from doing so and I don't recall what it was.  It could be that it's no longer an issue.

[2017-07-13 08:13] itamarla opened #22 "python lib is not maintained (no python3 support)"
Is there a reason for the python part not being available for python3.x?
There is lambda support for python 3.6 yet we will not be able to use it if this lib is not updated.

Thanks,
Itamar

[2017-07-13 16:22] brentnash commented on #22
The short answer is that when this project was developed, AWS Lambda didn't actually support Python3.  That's a fairly recent release (https://aws.amazon.com/about-aws/whats-new/2017/04/aws-lambda-supports-python-3-6/) and you're the first person to ask about it.

We'll work on getting support for that in.

[2017-07-26 03:58] brentnash commented on #10
Quick update:  I have a path forward for this.  I'll update more when the submission process is moving forward.

[2017-07-30 13:17] davidrosenstark opened #24 "Versions incorrect in pom -- see PR"
PR #23 -- solves problem when cloning

[2017-07-31 05:53] davidrosenstark opened #26 "Fix name of Handler in Readme"
See PR#25

[2017-08-02 12:41] davidrosenstark opened #27 "Necessity of deaggregation"
I am sending data with KPL and i see there is aggregation as you see in output below comparing KPL metric to Kinesis Metric:

get-metric-statistics --dimensions Name=StreamName,Value=MQTTStream2 --start-time 2017-08-02T12:20:00 --end-time 2017-08-02T12:25:00 --period 60 --namespace KinesisProducerLibrary --statistics Sum --metric-name UserRecordsPut
{
  "Datapoints": [
    {
      "Timestamp": "20

[2017-08-02 16:46] brentnash commented on #27
Would you be able to provide a bit more information?

Is this Node, Python or Java?  Guessing Java based on the "userRecords.size()" bit, but want to make sure.

Are you able to provide a snippet of your receipt/deaggregation code?

What kind of subscriber are you running?  Is it a Java-based Lambda listening to Kinesis?  A KCL app?  Something else?

Thanks!

[2017-08-02 19:26] davidrosenstark commented on #27
The use case i have a KPL producer and am using the KInesisLambdaForwarder in this project to consume the data. So yes the consumer is java -- the code of this project as is just some logs and cancelling the forward to a new stream.

[2017-09-04 04:51] behrangsa opened #28 "Feature request: add support for splitting"
Sometimes user records are larger than 1MB. In such cases the records should be split into multiple smaller kinesis records and then added to a stream.

The consumer then should concatenate these kinesis records to recreate the original user record.

I think this feature should be added to `kinesis-aggregation` (as well as KPL).

[2017-09-05 03:38] behrangsa commented on #10
Hi @brentnash, any updates?

[2017-09-05 05:51] behrangsa opened #29 "createExplicitHashKey could create keys that fail validation with validateExplicitHashKey"
If we don't pass an explicit hash key to `addUserRecord` it will try to generate one from the partition key:

[code]

For some partition keys, the generated hash key could be invalid. For example if my partition key is:

[code]

Then `createExplicitHashKey(pk)` will generate: `-123`. To reproduce:

[code]

which throws:

[code]

[2017-09-05 07:17] behrangsa commented on #29
Just had a look at the KPL algorithm:

[code]

The Java version in Kinesis Aggregator, though, looks like this:

[code]

There are two issues with the Java version. First, `BigInteger` is immutable and as a result of that `p.shiftLeft((16 - i - 1) * 8);` is ignored. Second, in the KPL algorithm, each element of the `digest` array are converted to an unsigned integer first. If we fix these two bugs

[2017-09-05 07:50] behrangsa opened #30 "RecordAggregator could generate aggregated records that are larger than 1MB"
And these records cannot be added to a stream, throwing the following error:

[code]

Please contact me for data to reproduce the problem.

[2017-09-05 08:23] behrangsa commented on #30
Here is the test case (for data, please contact me :)

[code]

[2017-09-06 08:03] #29 closed

[2017-09-06 08:39] #24 closed

[2017-09-06 08:40] #14 closed

[2017-09-06 08:42] IanMeyers commented on #13
Fixed in 0bca64f

[2017-09-06 08:43] #13 closed

[2017-09-06 08:44] #26 closed

[2017-09-06 08:46] IanMeyers commented on #21
Hi preetimpandey11 - can you let us know if you are reporting this against java, python or node? We'll check all of them but would be good if we can prioritise for you.

[2017-09-06 09:20] preetipa commented on #21
I encountered this issue with nodejs aggregator.
To reproduce the problem, try aggregating multiple stream records such that the size of the aggregated record would be greater than 1MB, do not set the explicitHashKey.
The attached file contains the fix.
[RecordAggregator.zip](https://github.com/awslabs/kinesis-aggregation/files/1280524/RecordAggregator.zip)

[2017-09-06 20:24] brentnash commented on #10
I just submitted an access request to get the proper publishing credentials.  Waiting for a response.

[2017-09-11 00:17] behrangsa opened #32 "Potential incompatibility with KPL"
As @pfifer has mentioned in [amazon-kinesis-producer#128](https://github.com/awslabs/amazon-kinesis-producer/issues/128#issuecomment-326633228) (emphasis mine):

However kinesis-aggregation seems to aggregate user records into an `AggRecord` and then a `PutRecordRequest` even if they must end up in different shards. This could break KPL compatible clients (e.g. those using KCL).

[2017-09-11 04:01] brentnash commented on #32
Is this potentially a duplicate of https://github.com/awslabs/kinesis-aggregation/issues/11?

Currently it is incumbent on the user of this project to ensure that they're only aggregating records destined for the same partition key or explicit hash key.  There is a change in the works to set either the PK or EHK at AggRecord creation time to enforce this behavior.

You are correct about the potent

[2017-09-11 08:48] behrangsa commented on #32
@brentnash Thanks. You are right, this is a duplicate of #11. I will close this and just watch that issue.

[2017-09-11 08:48] #32 closed

[2017-09-13 21:35] brentnash commented on #10
Access got approved.  Looking into the actual packaging and publishing steps now.

[2017-09-17 16:21] AEKurt opened #33 "Failed to forward Kinesis records to destination stream"
I cannot write aggregated data to my kinesis stream. My lambda function and kinesis stream are in the same account. My lambda can read data from a-stream however cannot write b-stream.
Im getting this error,
ERROR: Failed to forward Kinesis records to destination stream: Unable to execute HTTP request: Connect to kinesis.us-east-1.amazonaws.com:443 [kinesis.us-east-1.amazonaws.com/54.239.22.11] fa

[2017-09-18 00:20] brentnash commented on #33
Is your Lambda running in a VPC by chance?

[2017-09-18 07:16] AEKurt commented on #33
Not by chance. Intentionally we have put our lambda in vpc. What could be problem ?

[2017-09-18 07:55] brentnash commented on #33
I'm not sure how the Lambda/Kinesis integration for reading works, but for publishing, it seems like the request is getting dropped by a firewall or network rule somewhere.  Kinesis is not directly accessible from within a VPC (i..e it doesn't support VPC endpoints), so a request from your Lambda needs get out to the Internet to get to Kinesis.

From a public subnet, you'd need to confirm that por

[2017-09-18 08:06] AEKurt commented on #33
Thank you for your help. We have directly give internet access to our subnet, however we did not use nat. We have solved problem with using nat.

[2017-09-18 10:51] #33 closed

[2017-09-22 07:50] IanMeyers commented on #30
If you could email a test file to meyersi@amazon.com, or provide an S3 pre-signed URL, that would be great.

Ian

[2017-09-25 13:36] behrangsa commented on #30
Hi Ian

I had sent it to our account manager. Will forward it to you tomorrow.

Thanks.

[2017-09-28 04:26] guisouza commented on #30
I dont know if it helps but, I have the same here using AWS-SDK on nodeJS writing to kinesis firehose.

[2017-09-29 11:02] shimont commented on #16
The issue still exists. I've opened a pull request #34 with Syntax Highlighting.

[2017-09-29 11:05] shimont opened #35 "Update Node.js NPM module to version 3.0.0"
The latest module version on [NPM](https://www.npmjs.com/package/aws-kinesis-agg) is 2.2.2 - Could you please update to version 3.0.0 @IanMeyers ?

[2017-09-29 11:30] IanMeyers commented on #35
This is done!

[2017-09-29 14:22] #35 closed

[2017-10-01 00:13] zncolaco commented on #16
Understood from @brentnash's comments there's going to be a full blown update pass at some point, but in the mean time (mostly to stop other people burning time on this) I've raised https://github.com/awslabs/kinesis-aggregation/pull/36 to at least fix the issue described here.

[2017-10-04 14:29] sgtoj commented on #30
I am getting the same error. Wonder if there is any progress resolving this issue?

[2017-11-16 07:09] ssesha commented on #10
Hi @brentnash, any updates on this?

[2017-11-22 11:35] IanMeyers commented on #30
This is now being tested against a patch and hope to have a fix soon.

[2017-11-23 10:58] IanMeyers commented on #30
I've shipped 1.0.2 in 0bca64f, which addresses this issue in java and is validated with a customer. Will leave this open until the patch is ported to node and python.

[2017-12-10 03:45] behrangsa commented on #10
@IanMeyers @brentnash any updates on this?

[2017-12-18 15:07] ryan-persaud commented on #10
Bump.  Also, I just cloned the repo locally and tried to build master, but there were multiple errors.  This is a decidedly sub-optimal situation.  I just needed the RecordDeaggregator class, so I dropped it into my project directly and added the latest amazon-kinesis-client as a dependency in my pom, instead of trying to fight with local builds.  Hopefully, this can get added to Maven Central soo

[2017-12-18 17:07] brentnash commented on #10
That's fair @ryan-persaud .  I was actually not aware that this was being linked from the official documentation.  This started off as a temporary solution side project a couple years ago.

Anyway, to that end, I will see if I can patch up the existing build issues and then I'm dedicating today to the Maven publish.  Maven is unfortunately a more complicated beast than NPM or Pypi and I'm trying t

[2017-12-18 17:50] brentnash commented on #10
@ryan-persaud

Compile errors should be fixed now
(ref: https://github.com/awslabs/kinesis-aggregation/pull/40)

[2017-12-18 22:31] ryan-persaud commented on #10
@brentnash Thanks for getting the ball unstuck on this.

[2017-12-19 16:42] brentnash commented on #10
Still rolling along.  Made some fixes (see commit history) and have the javadoc/source aggregates working.  Trying to do the same to make the compiled aggregate jar at the moment.  Then will try uploading to sonatype staging.

[2017-12-20 00:59] brentnash commented on #10
The current Maven structure of this project that mixes the root pom.xml into both a parent project and an aggregator project is making Maven uploads incredibly tedious.  I'm in the process of condensing it down to just an aggregator.

I also believe that only the KinesisAggregator and KinesisDeaggregator should actually be going to Maven central; the result of this GitHub project is to provide sam

[2017-12-20 03:57] ryan-persaud commented on #10
@brentnash Thanks for the update - let me know if I can help in any way.

[2017-12-20 06:13] brentnash commented on #10
I think I have all the Maven tweaks necessary in the maven-reorg branch now.  My next step is going to be uploading to the Maven staging environment per http://central.sonatype.org/pages/ossrh-guide.html#deployment

Assuming the staging upload succeeds and is usable, I'll plan on merging the "maven-reorg" branch into master and also pushing the Maven projects live.

[2017-12-20 21:27] brentnash commented on #10
OK, good news I think.  I've got the packages published to the Maven **staging** repository and was able to throw together this POM:

[code]

And with that POM pulling from staging, I threw together this quick proof-of-concept that seems to work (imports left out for brevity):

[code]

Based on this I'm going to merge the Maven reorg branch into master and also publish these live on Maven.  Stay t

[2017-12-20 22:23] brentnash commented on #10
Missed a step.  Filed tickets and currently waiting on SonaType to establish repositories:

https://issues.sonatype.org/browse/OSSRH-36708
https://issues.sonatype.org/browse/OSSRH-36709

Not 100% sure if this is required or not (so if anyone on this issue knows otherwise, let me know).  Otherwise they're committed to a 2-day SLA.

[2017-12-21 17:14] brentnash commented on #10
Tickets are resolved.  I published from staging.  Waiting for the artifacts to appear in central.

[2017-12-21 23:50] brentnash commented on #10
Looks like the sync to Maven Central has completed.  There are two projects:

http://central.maven.org/maven2/com/amazonaws/amazon-kinesis-aggregator/
https://search.maven.org/#search%7Cga%7C1%7Ca%3A%22amazon-kinesis-aggregator%22

http://central.maven.org/maven2/com/amazonaws/amazon-kinesis-deaggregator/
https://search.maven.org/#search%7Cga%7C1%7Ca%3A%22amazon-kinesis-deaggregator%22

I ran a te

[2017-12-22 00:00] brentnash commented on #10
Pull request merged into Master:

https://github.com/awslabs/kinesis-aggregation/pull/41/files

[2017-12-22 00:11] brentnash commented on #10
Fresh clone of master seems to build properly.  I think we can officially close this one out.  Feel free to re-open if/when you discover issues.

[2017-12-22 00:11] #10 closed

[2018-01-23 21:00] jessmchung commented on #22
Any updates on adding support?

[2018-01-23 22:12] brentnash commented on #22
No, sorry @jessmchung , had lost track of this.  I'll try to start looking into it in the next week or so.  What level of urgency do you have?

[2018-01-25 03:04] jessmchung commented on #22
Definitely within the next two months pls!

[2018-02-01 04:31] brentnash commented on #22
@jessmchung my current plan is to add concurrent Python 2.7.x and Python 3.x support to the existing Python code by adding a dependency on the six library (https://pypi.python.org/pypi/six) as well as get some unit tests added in.  Does that sound reasonable?

[2018-02-01 04:33] jessmchung commented on #22
@brentnash That sounds excellent!

[2018-02-01 15:16] NewstHet opened #43 "AggRecord.java"
change
org.apache.commons.lang.StringUtils
to
org.apache.commons.lang3.StringUtils

[2018-02-02 23:34] zackb commented on #11
Is it possible to hit this problem using the KPL sending to a kinesis stream and then kinesis firehose?

[2018-02-03 18:31] brentnash commented on #22
Ongoing work happening here:

https://github.com/awslabs/kinesis-aggregation/tree/py3-compat

[2018-02-03 18:34] brentnash commented on #11
@zackb I believe what is referenced above is an issue specific to this project.  Your question sounds like you're describing:

KPL->Kinesis->Kinesis Firehose

which doesn't involve this library at all and therefore shouldn't be an issue.

[2018-02-06 05:43] brentnash commented on #22
First round of updates is complete.  There's a working unit test that runs an end-to-end aggregate & deaggregate successfully on both Python 2.7.x and Python 3.6.x.  (Have not merged back to master yet)

I'm working on adding some more unit testing and will try to do some end-to-end testing.

I will probably bump the version number to 1.1 when I push to PyPi.

[2018-02-08 04:40] brentnash commented on #22
Thank you for taking a look at it @quiver !  Much appreciated.

Nice catch on the pip3 thing.

I think maybe if I invoke the `pip` module directly, it might get around the issue.  i.e.:

[code]

What do you think?  Otherwise I can just create a list of pip executable names to try.

[2018-02-08 12:36] quiver commented on #22
@brentnash

This hardcoded approach does not work if `python` is linked to Py2 and its target runtime is Py3.

What about using `sys.executable` instead?

This should work as long as `make_lambda_build.py` is invoked from the corresponding interpreter.

[code]

Tested with

- system py2/3
- virtualenv

[2018-02-08 17:58] brentnash commented on #22
@quiver I forgot sys.executable existed.  That is a much better answer.  I'll add that instead.

[2018-02-08 18:22] brentnash commented on #22
@jessmchung I'm still going to add some more tests, but did you want to try out the py3-compat branch before I merge to master and upload to PyPi?

[2018-02-09 00:36] jessmchung commented on #22
@brentnash Yes! Will let you know asap!

[2018-02-09 02:52] brentnash commented on #22
Not urgent, but if you have a chance, I always appreciate extra data/validation points.

[2018-02-18 20:54] jessmchung commented on #22
Whoops - meant to respond! We tested this. It looks good for our usecases.

[2018-02-19 16:40] brentnash commented on #22
Great!  My Mon. & Tues. this week are madness, but I'll try to wrap things up, get some more test coverage and get this pushed to PyPi by the end of the week.  Thanks!

[2018-02-27 12:13] geronimo-iia commented on #16
In https://github.com/awslabs/kinesis-aggregation/pull/42 your could view few update

[2018-02-27 12:15] geronimo-iia commented on #30
@IanMeyers nodejs patch is in https://github.com/awslabs/kinesis-aggregation/pull/42

[2018-03-01 15:11] jsullivanLI commented on #22
This is working for us as well! Any update on when it will be released?

[2018-03-01 18:20] brentnash commented on #22
Apologies, got swamped.  Likely early next week at this point.

[2018-03-06 05:51] jarrellmark commented on #22
Great to hear @brentnash looking forward to the Python 3 support!! Will it be available on pip?

[2018-03-06 16:27] brentnash commented on #22
That's the plan!

[2018-03-06 16:59] brentnash commented on #22
As an update to anyone watching, I'm working on this today, so I'll update with progress later on.

[2018-03-06 17:22] jessmchung commented on #22
YAY!!!
![bitmoji](https://render.bitstrips.com/v2/cpanel/cba43a5b-ca8e-472e-b1f6-561ef5b8e1bb-59f4a75b-f3fe-4adb-8b7f-e78300d27576-v1.png?transparent=1&palette=1&width=246)

[2018-03-06 23:46] brentnash commented on #22
Added a bunch more unit tests:

https://github.com/awslabs/kinesis-aggregation/commits/py3-compat

I generated a bunch of data with the actual Kinesis Producer Library (KPL) to compare against.

Working on merging to master now and then I'll start on the PyPi distribution.

[2018-03-07 00:37] brentnash commented on #22
Live on Test PyPi at the moment:

https://testpypi.python.org/pypi/aws_kinesis_agg

Running some last tests.

[2018-03-07 01:07] brentnash commented on #22
Alright, new version should be live:

https://pypi.python.org/pypi/aws_kinesis_agg/1.1.0

Note the new version number is v1.1.0 (was previously 1.0.1).  I've done some basic verification via both Python 2.7.14 and Python 3.6.4.  Give it a shot and let me know how it goes for all of you (@jessmchung @jarrellmark @jsullivanLI)

I'll leave this issue open until we get some independent confirmation.

[2018-03-07 17:53] brentnash commented on #22
@jarrellmark The good news is that this was indeed intentional, but definitely needs to be better documented in this project.  Part of the reason I bumped the version from 1.0 to 1.1 was that I wanted to imply there might be some changes in functionality.

Let me try to run down the rationale briefly (in case you're interested)...

The Kinesis Producer Library has code (https://github.com/awslabs/

[2018-03-09 04:14] jarrellmark commented on #22
Sounds good, thanks for the explanation, @brentnash.

[2018-03-20 14:20] chrislewis opened #47 "Node test is broken"
The node test `kinesis-aggregation/node/node_modules/aws-kinesis-agg/test/testRawAggregation.js` is broken. Additionally, the module is missing the dev dependencies necessary to run the tests.

#46 fixes these.

[2018-03-20 15:36] chrislewis opened #48 "Node aggregation emits invalid records when user records do not include the ExplicitHashKey property"
The [ExplicitHashKey](https://docs.aws.amazon.com/kinesis/latest/APIReference/API_PutRecord.html#Streams-PutRecord-request-ExplicitHashKey) property is an optional string property which, if provided, must be a stringified number adhering to specific constraints. However, if not explicitly provided when using the node `RecordAggregator`, the resulting aggregated record will include this property wi

[2018-03-22 17:37] geronimo-iia commented on #47
you could see https://github.com/awslabs/kinesis-aggregation/pull/42

[2018-03-30 19:02] brentnash commented on #22
It's been a few week with no further comments, so I'm going to go ahead and resolve this.  Feel free to reopen if there are any further issues.

[2018-03-30 19:02] #22 closed

[2018-04-24 16:53] rob-dempsey-esure opened #52 "Unable to import module 'lambda_function': bad magic number in 'google.protobuf': b'\x03\xf3\r\n'"
Hi

When trying to build for python 3.6 I get the following message

Unable to import module 'lambda_function': bad magic number in 'google.protobuf': b'\x03\xf3\r\n'

Is this because protobuf is only for Python :: 3.4

Thanks

Rob

[2018-04-24 23:09] brentnash commented on #52
I have a version of the this library running right now on AWS Lambda with Python 3.6.x, so I don't think that's the issue.

I've generally seen that error when building and packaging on one version of Python (e.g. 2.7.x) and then deploying to a different version of Python on Lambda (e.g. 3.6.x).

Particularly, it's easy to get caught by stale .pyc files that are getting packed up.  For more detail

[2018-04-26 09:08] rob-dempsey-esure commented on #52
Thanks for the reply

I was using the Data Science Anaconda release of python 3.6.  I spun up a new EC2 and used the one from the yum repo I got it all to work.

Have not had a chance to dig into the detail, but just want to make people aware to try something different if an error such as this pops up again.

Rob

[2018-04-27 03:05] brentnash commented on #52
Definitely appreciate you raising the issue.  I ran into it a few times accidentally due to having Python 2.7.x and Python 3.6.x installed concurrently on Windows.

I'll think about if there's anything we could be doing better in the project.  Maybe making sure that we wipe .pyc files in all build scenarios so the stale ones from incorrect versions don't hang around.

[2018-05-30 00:26] aheuermann commented on #11
@cosmincatalin can't thank you enough for tracking this down!

I ran into this issue with the node client. To fix it I went the route you both mentioned of assigning the first record's EHK to all `User Records` in the `Stream Record`. I'll get a PR submitted once I test it out some more.

But - I'm also wondering about the [logic referenced in the KCL](https://github.com/awslabs/amazon-kinesis-cli

[2018-05-30 22:54] xutingz opened #53 "Feature request: better KCL integration"
Hi,
   We are currently looking for a java alternative of KPL and the aggregation seems to be a good start. However the current aggregation solution doesn't seem to be compatible well with KCL solution (#11 ). Can we add more feature support into KCL integration? including:

   1. shard level aggregation and retry logic:
      Similar to #11 , KCL has validation on whether the aggregated data belo

[2018-06-01 08:33] cosmincatalin commented on #53
We have mitigated the first problem by creating our own library [kinesis-writer](https://github.com/audienceproject/kinesis-writer). It's in Scala and works with [ScalaPB](https://scalapb.github.io/), so it's pretty custom, but maybe it serves as a starting point for your own project or a fork.

[2018-06-03 21:57] brentnash commented on #11
@aheuermann Having not worked directly on the KCL, I can't answer your question on the use-case, though I definitely had the same question myself when @cosmincatalin pointed it out.

I think your best bet might be to either post a question on the AWS Kinesis forums (https://forums.aws.amazon.com/forum.jspa?forumID=169) or maybe submit an issue directly on the Kinesis Client Library GitHub reposito

[2018-06-03 22:08] brentnash commented on #53
@xutingz Thanks much for the feedback and feature requests!

I think this is a matter of scope and intent more than anything.  This project intentionally focused only on the aggregation/deaggregation of records according to the KPL message format specification and ignores anything that actually involves knowledge of the stream (unlike the KPL itself).

If stream awareness features are what you nee

[2018-06-25 22:29] #53 closed

[2018-07-04 22:01] #52 closed

[2018-07-05 10:42] fmthoma commented on #11
What makes this issue even worse: The partition/hash keys are still transmitted per user record, not only per aggregated record. At the same time, I'm forced to choose the exact same partition/hash key for all user records in an aggregated record. This adds totally unnecessary overhead, in particular for small user records:

Consider small records of 100 bytes. The per user record overhead is abou

[2018-07-05 16:34] brentnash commented on #11
@fmthoma We unfortunately don't control the message specification for aggregation; that's defined by the Kinesis Producer Library (and is used by the Kinesis Client Library):

https://github.com/awslabs/amazon-kinesis-producer/blob/master/aggregation-format.md

The user records that go into an aggregated record have a required partition_key_index field and the aggregated record stores up all the d

[2018-07-09 08:23] fmthoma commented on #11
@brentnash You're indeed right, we did observe the overhead in the KPL, and in the kinesis-aggregation library before we switched to packing only records with the same partition key into one aggregated record.

So for kinesis-aggregation, everything works as expected now. For the KPL, we're still having this issue, and looking at the KCL code, it's quite clear why: The KCL validates that the expli

[2018-08-03 02:33] lyphilip opened #55 "Support for Golang?"
Is there a plan to add support for golang? we have a use case where we sent mysql binlog data from Maxwell to kinesis, then consume data using aws lambda and everything was built on Go. Now we have to disable the aggregation (which apparently impact the performance)

[2018-09-11 19:16] AlexEshoo opened #56 "Deaggregating an `AggRecord` object python"
I would like to be able to aggregate and deaggregate a record within the same application. I tried the following:

[code]

But it fails with an exception:
[code]

Is this possible somehow?

[2018-09-17 20:01] jhg023 commented on #30
I'm experiencing the same error on 1.0.3

[2018-09-20 18:39] brentnash commented on #56
I'll try to take a look when I get a chance, but in the meantime, I think this unit test does exactly the thing you're trying to do:

https://github.com/awslabs/kinesis-aggregation/blob/master/python/test/test_end_to_end.py#L101

Let me know if you spot the difference.  Otherwise I'll try to take a look later on.

[2018-09-20 21:00] brentnash commented on #56
OK, I had a bit more time to look...

The issue is that the `deaggregate_records` call is not set up to take a byte string, which is what the code is currently passing it.  It expects the input is a list of record json objects as returned by events received by an AWS Lambda function (see https://github.com/awslabs/kinesis-aggregation/blob/master/python/lambda_function.py#L21 for an example).  You

[2018-09-28 14:54] AlexEshoo commented on #56
Thanks for the reply, that makes sense, I will try that out.

I do think that it would make sense for the desegregation method to recognize the aggregated record that can be generated by this module and also be able to handle it.

[2018-10-01 13:01] AlexEshoo commented on #56
I think just keep this issue open, I think a new issue would be superfluous.

[2018-11-05 15:46] atupeli opened #58 "Update Node.js npm module"
The latest version on npm is 4.02 which contains a vulnerable version of protobufjs module:
https://www.npmjs.com/package/aws-kinesis-agg

The issue was lately fixed in: https://github.com/awslabs/kinesis-aggregation/commit/2ce3c71f066fb0f6bd3faebccee8893d033d84d0

[2018-12-04 12:12] atupelisanoma commented on #58
@IanMeyers ?

[2019-01-18 22:06] ferozed opened #60 "Deaggregator does not set approximateArrivalTimestamp in the created record"
When a record is deaggregated from the input record, a bunch of fields are populated into the output record. However, `approximateArrivalTimestamp` is not populated. This is needed for applications that need to know the latency of the record.

[2019-01-20 22:37] brentnash commented on #60
Thank you for catching that @ferozed !  Will try to integrate that sometime soon.

[2019-01-22 04:31] ferozed commented on #60
Thank you! Glad to help.

[2019-02-18 01:29] shuchisethi commented on #21
Has this been fixed?

[2019-02-18 10:28] IanMeyers commented on #21
The last commit was 76c618c where this issue was not reported. Are you seeing the issue and if so in which language please?

[2019-02-27 14:31] rayjlinden commented on #55
We would love to see a Golang version as well.  Any update on this?

[2019-03-15 09:52] kty1965 opened #62 "Incompatible Maven central package"
We are using kinesis-aggregation java library with lambda(over serverless).

- This is currently builded package info: [amazon-kinesis-aggregator-1.0.3.pom](https://search.maven.org/remotecontent?filepath=com/amazonaws/amazon-kinesis-aggregator/1.0.3/amazon-kinesis-aggregator-1.0.3.pom)
- This is your github `kdg-java-1.3.0` tag package info: [kinesis-aggregation/java/pom.xml](https://github.com/a

[2019-04-01 23:05] bisoldi opened #63 "Iterative Aggregation documentation is incorrect"
The Iterative Agg documentation reads as follows:

[code]

In reality, the iterative aggregation method `add_user_record` returns True or False and then we need to call `get_contents` to get the record.

[2019-04-07 22:55] rgarcia commented on #55
As a workaround, we've used the `extractRecords` method from https://github.com/a8m/kinesis-producer

[2019-04-08 05:19] rayjlinden commented on #55
I found this same thing about 2 days ago.  Seems to be working for me
(though we will be testing in production this next week.)   In fact, it is
really messages.pb.go
<https://github.com/a8m/kinesis-producer/blob/master/messages.pb.go> that
is needed.  Which given, i the end how little code that actually is I find
it more ridiculous that this support is not in the aws library.

On Sun, Apr 7, 2019

[2019-04-25 14:20] dovy opened #64 "Add support for Kinesis Analytics"
Tried and tried as I may, this would not function with Kinesis Analytics so I had to modify the object as follows:
[code]

Once the object was correct then it worked, however, I am still having an issue splitting records up, but that's an issue for another support forum.

My suggestion is to add support internally so this doesn't have to occur since Kinesis Analytics is still Kinesis...

[2019-05-04 15:04] ferozed commented on #60
hi! @brentnash Can you merge this pull request ? It is a simple change.

[2019-05-08 22:50] matvi3nko commented on #30
We faced the same issue. We put 10 message in batch on Node.js in lambda.
`Value 'java.nio.HeapByteBuffer[pos=0 lim=2627193 cap=2627193]' at 'records.8.member.data' failed to satisfy constraint: Member must have length less than or equal to 1048576; Value 'java.nio.HeapByteBuffer[pos=0 lim=2307740 cap=2307740]' at 'records.9.member.data' failed to satisfy constraint: Member must have length less t

[2019-07-09 09:47] #64 closed

[2019-07-09 14:14] IanMeyers commented on #60
Working on this now

[2019-07-22 13:31] joebowen commented on #60
I opened up PR #72 to fix the issues with the test cases caused by PR #61

[2019-07-31 22:56] Toltar opened #73 "Missing index.d.ts within files option of package.json"
Hi guys,

I was recently working with this library in node/typescript but could not import the types. I noticed you added the `index.d.ts` file within #57, but did not add it to the files option in `package.json`. I would be glad to open a PR to fix this.

Thanks,
Matt

[2019-08-01 20:38] Toltar opened #75 "calculateRecordSize() changes value of record.data through pass by reference"
Hello everyone,

Very concerned about the separations of concerns here. After writing unit tests around this library in trying to use it and having issues, I have discovered that that this line changes the references value of the record passed in:  https://github.com/awslabs/kinesis-aggregation/blob/798024def877cef3c82d8b9188aea9f051c11c70/node/lib/kpl-agg.js#L85

Could there be a better way we ca

[2019-08-20 12:33] guygma commented on #55
Would a pull request of some subset of the functionality included in `a8m/kinesis-producer` or similar be reasonable here to have support for aggregation as well? Symmetric agg/de-agg support in Go would be great even if short of the ideal full KCL/KPL implementation.

[2019-08-22 20:23] Toltar commented on #73
@IanMeyers ?

[2019-08-29 14:07] IanMeyers commented on #73
This is merged

[2019-08-29 14:07] #73 closed

[2019-08-29 14:09] IanMeyers commented on #75
record.data is a base64 encoded string, whose length is not meaningful. We have to work with a Buffer object in node.js in order to do the types of modifications to it, but the underlying string representation should be the same. Are you seeing something different?

[2019-09-09 15:20] jeffcharles opened #77 "Is the Node version of this library maintained?"
I noticed the node version hasn't been updated since ~July 2018 and is currently referencing a version of a library (protobufjs) that has an active CVE open against it. #58 calls out the need for an update but no action has been taken.

Should the node module be considered unmaintained? And if yes, is there a maintained successor library we should be migrating to or should we fork it and perform t

[2019-10-28 09:42] IanMeyers commented on #77
Fixed in c3e632d

[2019-10-30 07:52] brachipa commented on #33
No need NAT, you can do it also with VPC endpoint:
https://docs.aws.amazon.com/vpc/latest/userguide/vpc-endpoints.html
And that is how to do it to Kinesis:
https://docs.aws.amazon.com/streams/latest/dev/vpc.html

Works for me :) and match cheaper.

If you will read the NAT pricing documnentation they are also recommending this:
https://aws.amazon.com/vpc/pricing/
read the note at the end:
[code]

[2019-11-01 07:33] atupelisanoma commented on #77
@IanMeyers The npm package should still be updated: https://www.npmjs.com/package/aws-kinesis-agg

The latest version 4.0.2 doesn't contain the fix.

[2019-11-01 09:23] IanMeyers commented on #77
Published 4.0.3

[2019-11-28 02:32] geronimo-iia commented on #75
As IanMeyers says it's not just for compute record size, it's mandatory to send data into kinesis.

By another way, avoid duplication of record in memory is a real deal when your process few thousand of events in an aws lambda.
Another point is when you deal with kinesis, the most used pattern is "get/transform/forward", and your initial record as just never reused in your code.
Usually, avoid mut

[2020-01-23 13:49] redparham opened #81 "Add support for python deaggregation of Java KPL aggregated records"
This project focuses mainly on supporting Kinesis (de)aggregation in the context of aws lambda. Would it be possible to make the deggregation code more generic so that it can be used to deaggregate records produced by Java KPL?

We have a use case where we produce using Java KPL and consume using python via boto3 [client.get_records](https://boto3.amazonaws.com/v1/documentation/api/latest/referenc

[2020-01-23 14:05] IanMeyers commented on #81
Agreed. Separating the structure of the input event from the base64 decoding and deaggregating should be trivial to implement in the code with backward compatibility. Happy to take a PR on this.

[2020-01-30 16:35] ssesha commented on #11
@cosmincatalin @brentnash is documenting this limitation and force setting all User records in an Aggregated record to have the same EHK the way to go. Is there a pr for this? If not I could try and raise one.

[2020-01-30 17:41] IanMeyers commented on #11
@brentnash isn't with AWS anymore so may have limited time to invest in this issue now. If he does, thank you! I'll try looking into this for you.

I think that a documentation update is the minimum we can do, and otherwise setting the EHK to the Primary Key from the client side is going to be safe bet to ensure that the shard mapping is preserved.

[2020-01-30 17:54] cspotcode commented on #77
@IanMeyers git does not reflect the new version number.
package.json on git shows 4.0.2
https://github.com/awslabs/kinesis-aggregation/blob/master/node/package.json#L4

but npm shows 4.0.3.

Does something need to be pushed?  Are we missing commits?

[2020-01-30 17:56] IanMeyers commented on #77
Looking

[2020-01-30 17:57] IanMeyers commented on #77
Was just an uncommited version bump - committed now.

[2020-01-30 19:14] ssesha commented on #11
Thanks @IanMeyers . Would it be fine to just maintain something like a current pk/ehk in the RecordAggregator and modify the addUserRecord function to force set the first key to all records which are to be part of the AggRecord irrespective of what the use gives? Something like this
[code]

[2020-02-03 10:40] IanMeyers commented on #11
@ssesha I believe I have a solution for this. Are you in a position to help me test at scale? Can you email meyersi@amazon.com if so?

[2020-02-04 08:39] AkhilKavuri opened #84 "Add support for deaggregation in Firehose python λ"
Issue:
Deaggregation fails in kinesis firehose transform lambda(python) as the record metadata is under `kinesisRecordMetadata` and not `kinesisStreamRecordMetadata` (like in case of Kinesis analytics preprocess lambda).

Solution:
Handle this as a special case just like how kinesis analytics records are handled.

PR:
https://github.com/awslabs/kinesis-aggregation/pull/83

[2020-02-04 09:02] #84 closed

[2020-02-18 14:03] Frantch opened #86 "Maven downloading every single aws sdk versions"
Hello,

I have added the deaggregator dependency to my project

[code]

But now maven is downloading 'every single' aws-sdk-*  libs for every single version ?

[code]

How do I avoid doing this?

Thanks!

[2020-03-04 07:43] morelchang commented on #86
I have the same probem, too.
I tried to change the version of the dependency aws-lambda-java-events 1.1.0 to 2.2.7 resolve this issue. any clue to this?
[code]

[2020-03-04 14:50] IanMeyers commented on #86
Looking

[2020-03-04 15:02] IanMeyers commented on #86
I've bumped the Kinesis Client version to 1.13.3 in 0755cd6, and the issue seems to go away. Tests still OK.

[2020-03-18 13:58] TakesTheBiscuit opened #87 "Node version of lib includes large dependency jshint"
JSHINT files in the /dist directory were > 2 MB

This meant any lambda functions using this node lib were minimum 2MB without anything else included.

Searched codebase for `jshint` and found a single reference to it - IMO this is a dev dependency by definition.

[2020-03-18 14:00] IanMeyers commented on #87
Thanks for pointing this out - will try to find some time tomorrow to fix it, or happy to take a PR.

[2020-03-18 14:01] TakesTheBiscuit commented on #87
PR is in already

[2020-03-18 14:01] TakesTheBiscuit commented on #87
Wow, that was fast!

[2020-03-18 15:13] TakesTheBiscuit commented on #87
@IanMeyers  were we supposed to bump the package number of the lib itself, sorry may have been an oversight on my part

[2020-04-16 20:26] cbchenoweth opened #89 "typescript: type definition for `UserRecord.data` says `Buffer`, but actual property is a `string`"
Title pretty much says it all, the type definitions for the returned `UserRecord` are incorrect.

Here we can see they define the `data` property as a `Buffer`:
https://github.com/awslabs/kinesis-aggregation/blob/master/node/index.d.ts#L9

But in the actual code, it does not return `data` as a `Buffer`, but a base64 `string`:
https://github.com/awslabs/kinesis-aggregation/blob/master/node/lib/kpl-

[2020-04-24 01:35] greylurk opened #90 "Implement a Java version based on the AWS Java SDK 2.0"
The AWS Java SDK 2.0 doesn't have any support for aggregate records in Kinesis, but this library uses the Kinesis message models from the 1.11.x AWS Java SDK.

If this were updated to use the 2.0 models, it would resolve a functionality gap in the 2.0 SDK.

[2020-06-05 15:48] IanMeyers commented on #90
This was just pushed today in fe27a9d

[2020-06-08 15:30] greylurk commented on #90
The deaggregator for the V2 api looks complete, but I don't see any support for V2 in the aggregator?

[2020-06-08 15:43] IanMeyers commented on #90
Hello,

That's correct. We've not yet shipped the V2 Aggregator Support. Hopefully get time to look at this next week.

Ian

[2020-06-08 15:43] IanMeyers commented on #90
Happy to take a pull request if you want to work ahead :)

[2020-06-08 16:15] IanMeyers commented on #90
Just pushed https://github.com/awslabs/kinesis-aggregation/pull/97. Let me know if you have any issues. Thx!

[2020-06-14 13:11] #43 closed

[2020-07-03 10:41] Strydom opened #99 "Cannot read property 'build' of null - aws-kinesis-agg/lib/common.js"
Hello,

I'm having issues using this library in a Typescript project that is being webpacked.
I'm able to run the code in the TS package (`blacksmith-kinesis-mapper`) where i use the `aws-kinesis-agg` library and when I run my integration tests before packaging the Node Lambda (`blacksmith-foundry-dynamo-listener`) that pulls in the TS package.

The issue arrises when I package the lambda code up

[2020-07-03 10:45] IanMeyers commented on #99
I would guess that the builder is null because the Protobuf library isn't working properly, or there is no Protobuf being included in the distribution. I'm afraid I don't know enough about how the typescript binary might be created to comment further.

[2020-07-03 10:54] Strydom commented on #99
When i run the build I do get this warning:
[code]

[2020-07-03 14:18] Strydom commented on #99
Can you let me know when the new version is published please?

[2020-07-03 14:20] IanMeyers commented on #99
https://www.npmjs.com/package/aws-kinesis-agg/v/4.1.0

[2020-07-03 14:42] Strydom commented on #99
Could you push a hotfix please?
We forgot to update this https://github.com/awslabs/kinesis-aggregation/blob/master/node/package.json#L30
so the .json version hasn't been published

[2020-07-08 10:05] #99 closed

[2020-07-09 19:53] assertnotnull opened #102 "properties aren't aligned with the official library typings"
https://github.com/awslabs/kinesis-aggregation/blob/6b53c366b52b468d47c1eaa092070f012bbdfe25/node/lib/kpl-agg.js#L54

It should be Data, PartitionKey
https://github.com/aws/aws-sdk-js/blob/master/clients/kinesis.d.ts

[2020-07-14 00:24] matthew-valenti opened #103 "NodeJS Convert Aggregate to Promise"
I'd like to use the kinesis-aggregation in our existing NodeJS project that uses promises everywhere. Is there a way to convert the aggregate function to a promise. Here's a simple stub. It doesn't work -- the await never completes. I've tried various permutation of this but none have worked.

`
const aggregatePromise = (records, onReady) => {
  return new Promise((resolve, reject) => {
    aggreg

[2020-07-29 17:46] ShyykoSerhiy opened #104 "Incorrect typings for deaggregate and deaggregateSync methods"
[deaggregate](https://github.com/awslabs/kinesis-aggregation/blob/master/node/index.d.ts#L17) and [deaggregateSync](https://github.com/awslabs/kinesis-aggregation/blob/master/node/index.d.ts#L21) functions use incorrect types for kinesisRecord. All properties inside of the [Kinesis.Types.Record](https://github.com/aws/aws-sdk-js/blob/45336b8bc1e40c859d5c29a67e7ee0ec9380743d/clients/kinesis.d.ts#L7

[2020-08-12 07:19] orzZXY opened #111 "PIP3 version is not consistent with the code in the repo"
Hi there,

I used this code for Kinesis Data Analytics pre-processing Lambda function.
And I use "pip3 install aws_kinesis_agg" and there is a bug that recordId is missing, after looking into the source code, the code in pip3 package is different from the repo.
Could you please fix the issue?

Thanks,

[2020-08-12 09:48] IanMeyers commented on #111
I've just rebuilt and verified that all changes are in 1.1.3: https://pypi.org/manage/project/aws-kinesis-agg/release/1.1.3/

Sorry for the trouble.

[2020-08-24 14:14] yunghoy commented on #103
Hi, I have the same problem. `await` never completes.

[code]

[2020-09-02 23:05] nikoremi97 commented on #30
Try to check the size of the batch of records you're sending to Kinesis. It cannot exceed more than 1MB (1048576 bytes) per second.

[2020-09-29 07:18] jyoti-dhiman opened #112 "clear_and_get() throws error in a multi-threaded environment"
We are using kinesis_aggregator in a multi-threaded production environment to push records to kinesis and intermittently see this error:
`Message AggregatedRecord is missing required fields: records[3].partition_key_index`

- First I thought the error was related to the partition key and I used UUID as the partition key(and was assured it is null), but still, error was occurring
- I was able to re

[2020-09-29 08:27] IanMeyers commented on #112
Hello,

Yes, the classes are annotated as `@NotThreadSafe` for this reason. I'm very keen to accept a pull request with multi-threading support, but to-date haven't been able to spend the time to make it so.

Thx,

Ian

[2020-10-27 10:53] yunghoy opened #118 "Question about the type in deaggregate function"
Hi,

Our team is currently using this library with Typescript. I'm casting a type of kinesis records since de-agg in this code uses `KinesisStreamRecordPayload` but it requires `Kinesis.Record` in the signature. [Code](https://github.com/awslabs/kinesis-aggregation/blob/5f84b8b638394ff8b7ee25e1afee957ccf186eae/node/index.d.ts#L17)

Would you be able to check this signature? Since I cannot find the

[2020-10-27 11:04] IanMeyers commented on #118
Hi - I can't find any reference to `KinesisStreamRecordPayload` that you cite. Can you explain a bit further what issue you are seeing?

[2020-10-27 11:07] #111 closed

[2020-10-27 11:08] #90 closed

[2020-10-27 11:08] #86 closed

[2020-10-27 11:09] #60 closed

[2020-10-27 18:11] yunghoy commented on #118
Hi, `KinesisStreamRecordPayload` is in `aws-lambda` but `KinesisStreamRecordPayload` is not that important for this issue.

This is the interface used in [index.d.ts](https://github.com/awslabs/kinesis-aggregation/blob/5f84b8b638394ff8b7ee25e1afee957ccf186eae/node/index.d.ts#L17)
[code]

And this is the code in `kpl-deagg.js`
[code]
https://github.com/awslabs/kinesis-aggregation/blob/5f84b8b638394

[2020-10-28 08:47] QiAnXinCodeSafe opened #119 "unused variable"
https://github.com/awslabs/kinesis-aggregation/blob/338007a32ce684c55eb39051272ac4634e6257e8/java/KinesisAggregatorV2/src/main/java/com/amazonaws/kinesis/agg/AggRecord.java#L378

[2020-11-05 09:33] yunghoy commented on #118
I found that [Relevant Ticket](https://github.com/awslabs/kinesis-aggregation/issues/104) is presented.

[2020-11-05 09:35] IanMeyers commented on #104
Happy to take a pR on this.

[2020-11-09 14:52] stevegoossens opened #120 "Maven via JitPack: amazon-kinesis-aggregator-2.0.2 has v1 code, amazon-kinesis-deaggregator-2.0.2 unavailable"
I'm using the following in a Maven project _by copy-pasting the code_ from:

- https://github.com/awslabs/kinesis-aggregation/tree/master/java/KinesisAggregatorV2
- https://github.com/awslabs/kinesis-aggregation/tree/master/java/KinesisDeaggregatorV2

i.e.

[code]

I would much rather just refer to these packages via Maven dependencies. Since they don't appear to be in a Maven repo, I've attempted

[2020-11-19 08:35] dforsl commented on #120
We're also copy-pasting the source-code right now - which won't do for long as it's spreading like wildfire. It would be awesome if we could simply have the aggregator- and deaggregator-libraries in maven!

[2020-11-19 12:08] jnewbigin opened #122 "kinesis_publisher.py is not compatible with KCL"
As described in https://github.com/awslabs/kinesis-aggregation/issues/11
The partition key should be the same for every user record in a kinesis record
`kinesis_publisher.py` creates a new value for each user record.

As a result, only one user record will be returned by the KCL :-(

I have made a change to the example which should fix that

[2020-12-04 14:03] #104 closed

[2020-12-04 14:03] #118 closed

[2020-12-04 14:38] stevegoossens commented on #58
can 4.1.3 be published to npm please?

[2020-12-04 14:40] stevegoossens commented on #89
This appears to have been fixed in #107

[2020-12-04 14:45] IanMeyers commented on #58
This is done.

From: GitHub Notifications <notifications@github.com>
Reply to: awslabs/kinesis-aggregation <reply@reply.github.com>
Date: Friday, 4 December 2020 at 14:39
To: awslabs/kinesis-aggregation <kinesis-aggregation@noreply.github.com>
Cc: "Meyers, Ian" <meyersi@amazon.co.uk>, Mention <mention@noreply.github.com>
Subject: Re: [awslabs/kinesis-aggregation] Update Node.js npm module (#58)

c

[2020-12-08 17:52] stevegoossens commented on #103
I think what you need to do is to use the `encodedRecordHandler` (per-record callback) to build up a list of aggregate record, and then use the `afterPutAggregationRecords` to resolve the resulting list.

I'm using this in TypeScript, so you'll have to adjust your code slightly (probably just remove the types) if you are coding in JS.

*aggregation-helper.ts*
[code]

*aggregation-helper.spec.ts*
[

[2020-12-11 12:55] stevegoossens commented on #47
I think this can be closed, as `npm test` passes all tests

[2020-12-17 12:46] stevegoossens commented on #58
can 4.1.4 be published to npm please?

[2020-12-17 19:24] IanMeyers commented on #58
This is done

[2020-12-29 20:40] jmp-aws opened #126 "[Feature request] dotnet support"
can you add support for aws dotnet applications? Specifically, deaggregating events in lambda would be super useful

[2021-01-11 13:36] rrbarbosa opened #127 "Non thread-safe code using threads"
In the python implementation, the `RecordAggregator` class is annotated as "not thread-safe", however the class makes use of `threading` to execute the callback by default.

Won't this snippet end up clearing the record before executing the callback?

[code]

A simple workaround is stop using `threading` for callbacks.

[2021-01-11 13:41] IanMeyers commented on #127
I think actually that line 215 should instead use copy.deepcopy() rather than assignment. But in principle I agree that this is an issue. Will look to patch.

[2021-01-11 15:18] mustafaakin-atl opened #128 "Aggregation in Java combines different partition keys to one request"
To test my understanding of the library, I created the following code:

        RecordAggregator aggregator = new RecordAggregator();

        byte[] data1 = "wow".getBytes();
        byte[] data2 = "oh-yeah".getBytes();

        AggRecord rec1 = aggregator.addUserRecord("key-1", data1);
        AggRecord rec2 = aggregator.addUserRecord("key-2", data2);

        AggRecord g1 = aggregator.clearAndG

[2021-01-11 16:05] IanMeyers commented on #128
Yes, this is the expected behaviour, which you can modify with the addition of the `ExplicitHashKey` value. In general, to achieve higher compression rates common partitions keys will be grouped by KPL unless EHK is supplied.

[2021-01-11 16:42] IanMeyers commented on #127
This is fixed in 85e8678 and version 1.1.4 on pypi

[2021-02-10 22:15] emopti-cmeyer commented on #120
@IanMeyers any chance we could get the v1 and v2 releases published out to a maven repository again? The most recent and only build currently is https://mvnrepository.com/artifact/com.amazonaws/amazon-kinesis-deaggregator/1.0.3

[2021-03-05 03:54] reneincer opened #136 "Size or time in seconds for trigger callback"
Hi there,

I love this library, but for small data sync, I need to wait a lot of for the 1 MB max size config. I know I can change this for doing callback faster, but It will be great if we can set the max time that aggregator can wait to do the callback. For example, 10 seconds, If the buffer only have 300KB, and the last callback was like 10 seconds before, do the callback.

Whatever it comes fi

[2021-03-05 09:55] IanMeyers commented on #136
Yep like the idea. I’d suggest a record counter as well as time.

[2021-03-15 16:32] gregorydickson commented on #120
+1

[2021-03-15 16:35] IanMeyers commented on #120
Working on it - understand the ask and we'll hopefully have an update this week.

[2021-03-15 16:40] IanMeyers commented on #120
I can't see any reason why the JitPack inclusion of 2.0.2 is grabbing classes from v1. Any ideas from the folks on the thread?

[2021-03-15 16:48] IanMeyers commented on #120
Do we have any idea why JitPack is including the wrong version of the classes? Some parts of the 2.x codebase have a v1.x dependency but only for testing, and are not included in the jar as far as I can see.

[2021-03-15 17:22] IanMeyers commented on #120
So this isn't exactly what you asked for, but I think it will maybe help in the short run. I've drafted 4 new releases:

Version 2.x
2.0.3-agg: https://github.com/awslabs/kinesis-aggregation/releases/tag/2.0.3-agg
2.0.3-deagg: https://github.com/awslabs/kinesis-aggregation/releases/tag/2.0.3-deagg

Version 1.x
1.1.3-agg: https://github.com/awslabs/kinesis-aggregation/releases/tag/1.1.3-agg
1.1.3-d

[2021-03-15 17:37] emopti-cmeyer commented on #120
Possibly because the v1 and v2 modules / artifacts have the same group / artifact ids and only differ in the version number? I'm guessing they did not expect a project to publish out multiple concurrent versions of unqiue groupId:artifactId combinations in the same build :)

[2021-03-15 17:39] IanMeyers commented on #120
Yep that's why - didn't edit my comments after doing the research. That's why I've pushed new release labels that should address this.

[2021-03-15 17:49] emopti-cmeyer commented on #120
I saw you created two tags (2.0.3-agg and 2.0.3-deagg), but they point to the same commit hash.

It appears both builds fail the same way on Jitpack, here are the build logs:
https://jitpack.io/com/github/awslabs/kinesis-aggregation/2.0.3-deagg/build.log
https://jitpack.io/com/github/awslabs/kinesis-aggregation/2.0.3-agg/build.log

The error message is:
```Failed to execute goal on project amazon-

[2021-03-15 17:53] IanMeyers commented on #120
Hrm yes - was expecting jitpack to just use the Assets from the release, as opposed to something else. Will do more research.

[2021-03-19 02:47] jesshart opened #137 "Not able to specify 'Boto3' as a keyword argument for iter_deaggregate_records"
Python 3.8.6
aws_kinesis_agg 1.1.6

https://github.com/awslabs/kinesis-aggregation/blob/398fbd4b430d4bf590431b301d03cbbc94279cef/python/aws_kinesis_agg/deaggregator.py#L189

[code]
[code]

[2021-03-19 10:46] IanMeyers commented on #137
Version 1.1.7 now includes these updates https://pypi.org/project/aws-kinesis-agg/1.1.7/

[2021-03-19 17:02] jesshart commented on #137
This is now working as hoped. Thank you @IanMeyers!

[2021-03-19 17:02] #137 closed

[2021-03-19 17:24] jesshart opened #138 "Need parameter data_format in definition for deaggregate_records to use with Boto3"
### Versions
Python 3.8.6
aws_kinesis_agg 1.1.6

### Referencing
https://github.com/awslabs/kinesis-aggregation/blob/398fbd4b430d4bf590431b301d03cbbc94279cef/python/aws_kinesis_agg/deaggregator.py#L173
https://github.com/awslabs/kinesis-aggregation/blob/398fbd4b430d4bf590431b301d03cbbc94279cef/python/aws_kinesis_agg/deaggregator.py#L185

### Recommended Changes
[code]
[code]

If a developer using

[2021-06-06 22:29] ferozed opened #141 "AggRecord does not validate record size correctly"
In the following code:

[code]

it validates each of `key`, `explicitHashKey`, `data` separately. But it does not validate that the sum of all of them is still less than MAX_RECORD_SIZE

This testcase shows the problem.

[code]

The first one is expected to fail. The second one should succeed but it doesnt.

[2021-06-07 12:52] IanMeyers commented on #141
Hello,

I can't really tell what the test is doing because I don't have access to the `PutRecordsRequestEntryInformation` class. However, the code lines that you site are just structure checks for each of the partition key, EHK, and data buffer separately. The total message size is then checked in the `calculateRecordSize()` method, which contains checks for the incremental size based on whether a

[2021-06-08 00:43] ferozed commented on #141
Sorry for the bad snippet. here is the correct one:

[code]

So, my issue is not that this is not working... it is. but it is confusing because this will pass the `validateData` check, and then when it figures out the real serialized byte size, it fails.

Fine... but atleast give a better exception that helps the user. Something like...

[code]

[2021-06-08 06:44] IanMeyers commented on #141
Unfortunately we can't just track and error on the data size, as the message digest MD5 will change as records are added and therefore it's not a single length that is allowable. Can certainly provide better error messages however.

[2021-06-29 18:53] anish-kunduru commented on #120
Any update on this?

[2021-07-21 20:15] madorb commented on #120
any update on publishing to central??

[2021-07-21 21:11] madorb commented on #120
jitpack doesn't seem to work with the 1.x version, so this is really quite painful.

[2021-07-22 08:40] IanMeyers commented on #120
Unfortunately right now we are unable to publish to Maven because of the package structure: the project is community maintained, but the signing certs for Maven are part of the build system maintained by the Kinesis service team. The only alternative is to change the top-level package structure, which would be a huge impact on our user-base. I appreciate the pain that this creates, and we will con

[2021-07-22 10:06] acm19 commented on #120
@IanMeyers would it be possible for you to publish it as a package in Github? It's not as good as Maven Central but it would solve the problem for a lot of people.

[2021-07-26 13:48] IanMeyers commented on #120
We are looking into this and will come back to you.

[2021-08-16 11:40] snehal-kolte commented on #120
Any plan to update on publishing to central??

[2021-09-22 18:20] Yc2034 opened #144 "aws_kinesis_agg not supported in FIPS mode"
Library aws aws_kinesis_agg is using md5 which is not being supported in FIPS mode python 3.9.6 (hardened image)

Error Description:
aws_kinesis_agg/__init__.py",line 21, in <module>
0|classifi |  DIGEST_SIZE = hashlib.md5().digest_size
0|classifi | ValueError: [digital envelope routines: EVP_DigestInit_ex] disabled for fips

[2021-09-22 21:16] IanMeyers commented on #144
Unfortunately this hash is built into the protobuf protocol and kinesis encoders, and therefore cannot be changed without altering the digest and therefore the message structure.

[2021-09-22 21:16] #144 closed

[2021-11-03 14:07] RubenCordeiro commented on #120
+ 1

[2022-01-26 12:28] andrejleitner opened #149 "Unnecessary dependence on the `npm` package"
There is no reason to have `npm` defined as dependency.
https://github.com/awslabs/kinesis-aggregation/blob/953b66f6740731c9299c714c3be74a49ce2e53fd/node/package.json#L15
If the intention was to set `npm` version requirement for the project, `engines` property seems to be more suitable place.

[2022-01-26 12:44] #149 closed

[2022-02-16 16:34] lcmgh opened #153 "Feature request: Provide language support for rustlang"

[2022-02-19 09:33] lcmgh opened #154 "Provide .protobuf file to allow code generation for non-supported languages"

[2022-02-21 11:59] IanMeyers commented on #154
The protobuf file is inherited from the Kinesis Producer Library project, and is stored here: https://github.com/awslabs/amazon-kinesis-producer/blob/master/aws/kinesis/protobuf/messages.proto

[2022-03-21 11:50] #17 closed

[2022-05-20 04:58] akursar opened #159 "kpl_pb2.py should be regenerated to avoid problems with upcoming protobuf release"
Due to upcoming changes in python's protobuf, which can be previewed with `pip install protobuf==4.21.0rc2`, the bundled kpl_pb2.py should be regenerated with a newer version of protoc.

[code]

https://developers.google.com/protocol-buffers/docs/news/2022-05-06#python-updates

[2022-06-06 09:52] IanMeyers commented on #159
I'm not sure I understand entirely what the issue is. The protobuf version is pinned to 3.15.0 in requirements.txt. I tsounds like the issue is that if you do a system wide install of protobuf, you will get 4.21, which then when you try to run this version will not work. This would be expected, and you would need to downgrade protobuf to a version before 4.21 to get compatibility. Is that correct?

[2022-06-06 13:34] IanMeyers commented on #159
I understand the issue now, and have pushed version 1.2.0 in 3db23db that addresses this issue. Please let me know if this works for you.

[2022-06-08 17:13] akursar commented on #159
This is not working for me because of this line: https://github.com/awslabs/kinesis-aggregation/blob/3db23dbb9376cc1f5e39a3c6d4e04c249ddd3a20/python/aws_kinesis_agg/messages_pb2.py#L14

This seems to be the only import which refers to an internal module without referring to the aws_kinesis_agg package. If I patch this in my installation:

    sed -i -e 's/import config_pb2 as config__pb2/import aw

[2022-06-09 10:25] IanMeyers commented on #159
Yes, sort of. This issue appears to be related to https://github.com/protocolbuffers/protobuf/issues/1491. I am working on a fix in version 1.2.1 for you that should also be compliant with compiling lambda packages, but will require including the project bast directory to include the protobuf generated libs.

[2022-06-09 13:23] IanMeyers commented on #159
Pushed 1.2.1 - can you please try it?

[2022-06-10 10:27] IanMeyers commented on #159
Can you share a stack trace please?

[2022-06-10 10:30] IanMeyers commented on #159
Think I see the issue - standby please.

[2022-06-10 10:43] IanMeyers commented on #159
Issue should be fixed in version 1.2.2. Package builder was ignoring the root path. Sorry folks.

[2022-06-10 14:30] maxispeicher opened #162 "Documentation mentions using AggregationManager, which does not exist"
The existing [README.md](https://github.com/awslabs/kinesis-aggregation/blob/master/python/README.md?plain=1#L27) for the python package and the [potential_data_loss.md](https://github.com/awslabs/kinesis-aggregation/blob/master/potential_data_loss.md?plain=1#L7) both mention using the `AggregationManager` from version `1.2.0` onwards. However, this class does not exist in the mentioned versions i

[2022-06-10 15:03] #162 closed

[2022-06-16 14:40] tzcnt commented on #162
Has the underlying issue with the KCL dropping messages not destined for the assigned consumer been fixed? If not, then I think the documentation should have been modified, rather than deleted entirely. It's still linked from the front README with an all caps DATA LOSS CAN OCCUR. This is now a dead link.

It would be very helpful to still have an explanation of the underlying issue, even if there

[2022-06-23 00:45] tzcnt commented on #162
@IanMeyers

[2022-06-23 13:00] IanMeyers commented on #162
Documentation has been restored and corrected.

[2022-09-03 02:46] adrian-skybaker commented on #120
I would say you might want to repackage anyway, since the `com.amazonaws.kinesis` package is associated with the V1 SDK, which you no longer use in 2.0.

[2022-09-03 02:47] adrian-skybaker commented on #120
Gradle config to ensure only this library is resolved from jitpack, not your entire dependency set:

[code]